<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capibara Store</title>
    <meta name="description" content="Welcome to Capibara Store, find natural products without having to go to the forest.">
  </head>
  <body>
    <main>
			<nav>
        
      </nav>
		</main>
  </body>
</html>
<!--Main icon and more: 
        <a href="https://br.freepik.com/vetores-gratis/ilustracao-de-animais-selvagens-desenhados-a-mao_26411792.htm">Freepik</a>-->