<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CapiLoja</title>
  </head>
  <body>
    <main>
			<a href="https://br.freepik.com/vetores-gratis/ilustracao-de-animais-selvagens-desenhados-a-mao_26411792.htm">Imagem de freepik</a>
		</main>
  </body>
</html>
